{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": [ "error", "windows" ],
    "react/forbid-prop-types": 0,
    "no-return-assign": 0,
  },
  "extends": [
    "airbnb"
  ]
}