html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

html,
body
  padding: 0;

body
  margin: 0
  font-family: 'Quicksand', sans-serif

// h1,
// h2,
// h3 {
//   font-family: 'Libre Baskerville', serif
// }

button,
.button
  background-color: #FBDA61
  background-image: primary-gradient
  background-size: 200% 100%
  color: #fff
  font-weight: 500
  font-size: 18px
  border-radius: 6px
  border: none
  padding: 0.4em 1.2em 0.5em
  line-height: 1
  cursor: pointer
  transition: background 0.3s

.app-wrapper
  position: relative
  overflow-x: hidden
  min-height: 100vh

.content-wrapper
  width: 90%
  margin: 0 auto


.counter-enter
  transition: all 2s
  transform: translateX(-20%)

.counter-enter-active
  transform: translateX(0)

.counter-leave
  transition: all .5s
  transform: translateX(0)

.counter-leave-active
  transform: translateX(100%)