.nav
  background-color: #FBDA61
  background-image: primary-gradient


  height: 50px
  padding: 0.75rem
  color: #fff
  text-align: center
  margin-bottom: 1rem
  
  .logo
    font-size: 18px
    font-weight: 500