.recipe-page,
.category-page
  position: absolute
  left: 0
  top: 0
  width: 100%
  min-height: 100%

.recipe-enter
  transition: all 0.5s cubic-bezier(1,.02,.42,.32)
  transform: translateX(100%)

  &.recipe-enter-active
    transform: translateX(0)

.recipe-leave
  transition: all 0.3s cubic-bezier(1,.02,.42,.32)
  transform: translateX(0)

  &.recipe-leave-active
    transform: translateX(100%)


.category-enter
  transition: opacity 0.8s
  transition-delay: 0.2s
  opacity: 0

  &.category-enter-active
    opacity: 1

.category-leave
  transition: opacity 0.25s
  opacity: 1

  &.category-leave-active
    opacity: 0


// RECIPE PAGE TAB TRANSITIONS

.recipe-page__steps,
.recipe-page__ingredients
  position: absolute
  left: 0
  top: 0
  width: 100%

// Ingredients Tab
.ingredients-tab-enter
  transition: all 0.5s ease
  transform: translateX(-110%)
  transition-delay: 0.3s

  &.ingredients-tab-enter-active
    transform: translateX(0)

.ingredients-tab-leave
  transition: all 0.4s cubic-bezier(1,.02,.42,.32)
  transform: translateX(0)

  &.ingredients-tab-leave-active
    transform: translateX(-100%)

// Steps Tab
.steps-tab-enter
  transition: all 0.5s
  transform: translateX(110%)
  transition-delay: 0.3s

  &.steps-tab-enter-active
    transform: translateX(0)

.steps-tab-leave
  transition: all 0.4s cubic-bezier(1,.02,.42,.32)
  transform: translateX(0)

  &.steps-tab-leave-active
    transform: translateX(100%)
