.recipe-page,
.category-page
  position: absolute
  left: 0
  top: 0
  width: 100%
  min-height: 100%

.recipe-enter
  transition: all 0.5s cubic-bezier(1,.02,.42,.32)
  transform: translateX(100%)

  &.recipe-enter-active
    transform: translateX(0)

.recipe-leave
  transition: all 0.3s cubic-bezier(1,.02,.42,.32)
  transform: translateX(0)

  &.recipe-leave-active
    transform: translateX(100%)


.category-enter
  transition: opacity 0.8s
  transition-delay: 0.2s
  opacity: 0

  &.category-enter-active
    opacity: 1

.category-leave
  transition: opacity 0.25s
  opacity: 1

  &.category-leave-active
    opacity: 0