.recipe-card
  text-align: center

  h3
    color: darkerorange
    // text-shadow: 0 1px 0 darkerorange
    font-size: 6vw

  p
    color: graypurple
    font-weight: 500
    font-size: 4vw

  button
    margin-bottom: 2.5rem

  &__img-box
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 0.7rem
    width: 80%
    height: 250px
    background: primary-gradient
    box-shadow: inset 0 -4px 5px darkorange