darkorange = #ffb955
darkerorange = #ef9a22
lightorange = #ffdf80
purple = #B389F1
darkpurple = #785da0
graypurple = #8b7da0
grayorange = #b09b8c

primary-gradient = linear-gradient(60deg, darkorange 0%, lightorange 100%)